#Ignore temp files
*$*

#Ignore object files
*.[o]

# C extensions
*.so

# Environment variables
.env

### macOS IGNORE
# General
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Do not include config files
*.conf

secret_scanner.py
secret_scanner.py.backup